table, th, td {
    border: 1px solid;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: lightslategrey;
}

div {
    background-color: inherit
}

div tr {
    background-color: aquamarine;
}

div > h2 {
    color: red;
}

.container {
    display: flex;
    font-size: 20px;
    color: red;
}

[class ^= column] {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: coral;
}

#some-id {
    text-align: center;
    color:crimson
}