h2 {
    color: blue
} 

.container {
    display: flex;
    width: 100%;
}

#extra {
    color: red
}

#extra > h2 {
    color: inherit
}

[class ^= column] {
    border: 1px solid #ddd;
}

table th, table td {
    border: 1px solid;
}

.titlebar {
    text-align: center;
}

h1 {
    color: blue !important;
}

#some-id {
    color: red;
}

@media screen and (min-width: 900px) {
    [class ^= column] {
        width: 24%;
        height:100%;
        border: 1px solid #ddd;
        float: left;
    }
}